html,body{
  margin: 0;
  padding:0;
}
html{
  background-color: rgb(155, 30, 30);
  font-size: 15px;
}

body{
 
  width:100%;
  min-width: 1000;
  margin:auto;
}
.name{
  background-color: rgb(214, 129, 129);
  display:flex;
  flex-wrap:wrap;
  margin-left:calc(50%-50vw);
  width: 100vw;
}
h1{

  color:rgb(255, 255, 255);
  text-align: left;
  font-family:'Lucida Sans',cursive;
  font-size: 1.8cm;
  flex: 5;
}
header{
  background-color: rgb(206, 148, 148);
  padding:15px;
  flex-flow: row wrap;
  display:flex;
  margin-bottom: 10px;
}

.wrapper {
  margin:auto;
  display:flex;
  flex-wrap: wrap;
  min-width: 960px;
}

.img{
  display: block;
  width: 200px;
  border: 1px solid, black;
  padding: 4px;
  border-radius: 25px;
}

#me{
  margin-left: 0px;
}
.container{
  min-width: 960px;
  display: flex;
}

.content {
  color:rgb(197, 197, 197);
  flex:auto;
  display: block;
  margin-left: 500px;
  font-size: 2.1em;
  background-color:rgb(206, 148, 148);
}
p{
  color:rgb(212, 212, 212);
  font-family: 'Lucida Sans',cursive;
  display: block;
}
#caption{
  background-color:rgb(206, 148, 148);
  font-size: 2.1em;
}
h2{
  color: grey;
  font-family: 'Times New Roman';
  text-align: center;
  font-size: 1.2;
}
.Experience ol{
  font-style: normal;
  font-size: .8cm;
  font-weight: 800;
  letter-spacing: 0.02rem;
  color: aliceblue;
  font-family: 'Times New Roman';
}
div{
padding: 15px;
align-items: center;
display: block;
}
.Description,p{
  color: aliceblue;
  margin-bottom:2px;
  letter-spacing: 0.02rem;
  font-size: .4cm;
  font-weight: 200;
  font-family: 'Times New Roman';
}
.Activities,ul{
  font-family: 'Times New Roman';
  color: aliceblue;
  margin-bottom: 2px;
  letter-spacing: 0.02rem;
  font-size: 1em;
  font-weight: 200;
  flex: auto;
}